src/main/resources/wsdl/wsdl.wsdl

<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn://x-artefacts-smev-gov-ru/services/service-adapter"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn://x-artefacts-smev-gov-ru/services/service-adapter" name="SMEVServiceAdapterService">
    <types>
        <xsd:schema>
            <xsd:import namespace="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" schemaLocation="http://localhost:7575/ws?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" schemaLocation="http://localhost:7575/ws?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="Get">
        <part xmlns:ns1="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns1:MessageQuery"/>
    </message>
    <message name="GetResponse">
        <part xmlns:ns2="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns2:QueryResult"/>
    </message>
    <message name="SystemFault">
        <part xmlns:ns3="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" name="fault" element="ns3:SystemFault"/>
    </message>
    <message name="ValidationFault">
        <part xmlns:ns4="urn://x-artefacts-smev-gov-ru/services/service-adapter/types/faults" name="fault" element="ns4:ValidationFault"/>
    </message>
    <message name="Find">
        <part xmlns:ns5="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns5:FindMessageQuery"/>
    </message>
    <message name="FindResponse">
        <part xmlns:ns6="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns6:QueryResultList"/>
    </message>
    <message name="Send">
        <part xmlns:ns7="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns7:ClientMessage"/>
    </message>
    <message name="SendResponse">
        <part xmlns:ns8="urn://x-artefacts-smev-gov-ru/services/service-adapter/types" name="parameters" element="ns8:MessageResult"/>
    </message>
    <portType name="SMEVServiceAdapterPortType">
        <operation name="Get">
            <input wsam:Action="urn:Get" message="tns:Get"/>
            <output wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:GetResponse" message="tns:GetResponse"/>
            <fault message="tns:SystemFault" name="SystemFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Get:Fault:SystemFault"/>
            <fault message="tns:ValidationFault" name="ValidationFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Get:Fault:ValidationFault"/>
        </operation>
        <operation name="Find">
            <input wsam:Action="urn:Find" message="tns:Find"/>
            <output wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:FindResponse" message="tns:FindResponse"/>
            <fault message="tns:SystemFault" name="SystemFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Find:Fault:SystemFault"/>
            <fault message="tns:ValidationFault" name="ValidationFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Find:Fault:ValidationFault"/>
        </operation>
        <operation name="Send">
            <input wsam:Action="urn:Send" message="tns:Send"/>
            <output wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:SendResponse" message="tns:SendResponse"/>
            <fault message="tns:SystemFault" name="SystemFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Send:Fault:SystemFault"/>
            <fault message="tns:ValidationFault" name="ValidationFault" wsam:Action="urn://x-artefacts-smev-gov-ru/services/service-adapter:SMEVServiceAdapterPortType:Send:Fault:ValidationFault"/>
        </operation>
    </portType>
    <binding name="SMEVServiceAdapterEndpointBinding" type="tns:SMEVServiceAdapterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Get">
            <soap:operation soapAction="urn:Get"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="Find">
            <soap:operation soapAction="urn:Find"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="Send">
            <soap:operation soapAction="urn:Send"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SMEVServiceAdapterService">
        <port name="SMEVServiceAdapterEndpoint" binding="tns:SMEVServiceAdapterEndpointBinding">
            <soap:address location="http://localhost:7575/ws"/>
        </port>
    </service>
</definitions>